__pycache__/
*.py[cod]

.env
.streamlit/secrets.toml

data/*.db
data/*.sqlite
data/*.sqlite3
data/*.db-journal
data/*.db-wal
data/*.db-shm
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

*.odt
.~lock.*#

.DS_Store
